/*
!/.bashrc
!/.config/
/.config/argocd/
/.config/configstore/
/.config/containers/
/.config/fish/conf.d/secrets.fish
/.config/fish/fish_variables
/.config/gcloud/
/.config/gh/
/.config/homebrew/Brewfile
/.config/homebrew/Brewfile.lock.json
/.config/nvim/
/.config/op/
/.config/ssh/known_hosts
/.config/zsh/*.zwc
!/.github/
!/.gitignore
!/.hushlogin
!/.pre-commit-config.yaml
!/.profile
!/.vscode/
/.vscode/*
!/.vscode/settings.json
!/.zprofile
!/bootstrap
